<nav class="navbar navbar-expand-sm border-bottom mb-3 sticky-top border-bottom box-shadow themed-bg">
    <div class="container">
        <a class="navbar-brand" href="">@(string.IsNullOrWhiteSpace(BlogSettings?.Title) ? "BlogDotNet" : BlogSettings?.Title)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbarCollapse" aria-controls="myNavbarCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="myNavbarCollapse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                @if (HasAboutPage)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="about" Match="NavLinkMatch.Prefix">About</NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>